@font-face {
    src: url("Roboto-Bold.ttf");
}

@font-face {
    src: url("Roboto-Light.ttf");
}
@font-face {
    src: url("Roboto-Medium.ttf");
}
@font-face {
    src: url("Roboto-Regular.ttf");
}
@font-face {
    src: url("Roboto-Thin.ttf");
}

#main-pane {
    -fx-padding: 60 0 60 0;
}

.root {
    -fx-background-color: #1F1F1F;
}

.text-field {
    -fx-border-color: #D0D0D0;
    -fx-border-width: 0 0 1 0;
}

.scroll-bar, .text-field{
    -fx-background-color: transparent;
}

.thumb, .combo-box{
    -fx-background-color: #363636;
}

.combo-box .list-view .list-cell {
    -fx-text-fill: black;
}
.text-field, .combo-box .list-cell{
    -fx-text-fill: #D0D0D0;
}

#side-pane {
    -fx-min-height: 150px;
    -fx-border-width: 0 1 1 0;
    -fx-border-color: #363636;
    -fx-padding: 10 0 0 40;
}

#side-title, #info-button, #info-button-pressed{
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 14px;
    -fx-text-fill: #676767;
    /*-fx-padding: 0 0 0 20 ;*/
}

#side-search-query {
    -fx-font: 15 Roboto;
    -fx-font-weight: lighter;
    -fx-fill: #D0D0D0;
}

#side-search-btn, #popup-btn-ong, #popup-btn-hm {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-text-fill: #D0D0D0;
}
#side-search-btn {
    -fx-font: 12 Roboto-Regular;
    -fx-background-color: #363636;
}

#side-search-btn:hover {
    -fx-background-color: #262626;
}



#app-title {
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 18px;
    -fx-border-width: 0 10 3 0;
    -fx-background-color: black;
    -fx-text-fill: #D0D0D0;
    -fx-min-height: 67px;
    -fx-min-width: 300px;
    -fx-alignment: center;
}

#vkl-sc {
    -fx-background: #1F1F1F;
    -fx-background-color: #1F1F1F;
}

#vkl-btn, #vkl-btn-selected {
    -fx-font-family: "Roboto Regular";
    -fx-background-color: #1F1F1F;
}
#vkl-btn {
    -fx-text-fill: #444444;
}

#vkl-btn-selected {
    -fx-text-fill: #FFF500;
}

#vkl-btn:hover {
    -fx-text-fill: #D0D0D0;
}

#center {
    -fx-border-width: 1 1 1 0;
    -fx-border-color: #363636;
}

#popup-hm, #popup-ong {
    -fx-background-color: #363636;
    -fx-translate-x: -133;
    -fx-max-width: 400px;
}

#popup-hm {
    -fx-translate-y: -182;
    -fx-max-height: 150px;
}
#popup-ong {
    -fx-translate-y: -68;
    -fx-max-height: 80px;
}

#popup-txt {
    -fx-font-family: "Roboto-Regular";
    -fx-font-size: 15px;
    -fx-text-fill: #D0D0D0;
    -fx-padding: 10 0 0 10;
}

#popup-btn-hm, #popup-btn-ong {
    -fx-font: 15 Roboto-Regular;
    -fx-background-color: #868686;
}

#popup-btn-hm:hover, #popup-btn-ong:hover {
    -fx-background-color: #767676;
}

#popup-btn-ong {
    -fx-translate-x: 170;
    -fx-translate-y: 18;
}

#popup-btn-hm {
    -fx-translate-x: 133;
}

#info-pane {
    -fx-border-width: 1 0 1 0;
    -fx-border-color: #363636;
}

#info-scroll {
    -fx-background: #363636;
    -fx-background-color: #1F1F1F;
    -fx-border-color: transparent;
    -fx-max-width: 350px;
    -fx-max-height: 600px;
}

#info-value {
    -fx-font-family: "Roboto Regular";
    -fx-text-fill: #D0D0D0;
    -fx-font-size: 12px;
    -fx-padding: 0 0 0 10;
}

#info-label {
    -fx-font-family: "Roboto Regular";
    -fx-text-fill: #8E8C8C;
    -fx-font-size: 13px;
    -fx-padding: 0 0 0 10;
}

#info-button, #info-button-pressed {
    -fx-background-color: #363636;
}

#info-button:hover {
    -fx-text-fill: #575757;
}
#info-button-pressed {
    -fx-text-fill: #D0D0D0;
}

#drag-drop-lbl {
    -fx-font-family: "Roboto Regular";
    -fx-text-fill: #D0D0D0;
}

#drag-drop {
    -fx-translate-x: -50;
    -fx-max-width: 600;
    -fx-max-height: 150;
    -fx-alignment: center;
    -fx-border-style: dashed;
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, #D450F5 0%, #00FFFF 100%);
}
